.navbar
    background: none
    position: absolute
    background: transparent
    align-items: baseline
    z-index: 100
    top: 86px
    left: 10.5%
    right: 10.5%

    .nav-link
        height: 11px
        color: #ffffff !important
        font-family: "Gotham Rounded Medium"
        font-size: 14px
        font-weight: 500
        line-height: 25px
        text-transform: uppercase