.hero-section
    background-image: url('../../images/header-img-bg.png')
    height: 853px
    padding-top: 372px
    background-repeat: no-repeat
    background-size: cover
    .hero-header
        h2
            margin-bottom: 42px
    .search-bar-section
        input[type="text"]
            border-bottom: 2px solid #e2e2e2
            font-style: italic
            height: 50px
            font-family: 'Gotham Rounded Bold Italic'
        .btn-search
            height 50px
            width: 140px
            span
                padding-right: 6px