.introduction-section
    border-bottom: 7px solid transparent
    border-image-source: url('../../images/separator_one.png')
    border-image-slice: 30
    .introduction-wrapper
        padding: 115px 400px 108px;
    .heading-1
        font-family: 'Gotham Rounded Light Italic'
        font-size: 30px
        color: #585858
    .heading-2
        font-family: 'Gotham Rounded Book'
        font-size: 45px
        color: #585858
    .introduction-description
        p
            margin: 0
            color: #585858
    .introduction-hr
        background-color: #4acaff
        width: 138px
        height 5px;
        margin: 47px auto 55px
    .introduction-button-section
        margin-top: 79px
    .btn-about-us
        color: #4acaff
        font-family: "Gotham Rounded Light"
        font-size: 15px
        font-weight: 500
        text-transform: uppercase
        border: 2px solid #4acaff
        padding: 14px
        line-height: 15px
        &:hover
            color: white
            background: #4acaff
            border: 2px solid transparent