.subscribe-section
    background #131c25
    border-bottom: 7px solid transparent
    border-image-source: url('../../images/separator_one.png')
    border-image-slice: 30
    .subscribe-wrapper
        padding 162px 0 170px
        margin 0 auto
        text-align left
        width 70%
        label
            color #ffffff
            font-size 18px
            font-family "Gotham Rounded Light"
            margin-bottom 36px
        form-control
            padding 0
            maring 0
        .input-email-subscription
            border 2px solid #4acaff
            background #131c25
            font-style italic
            color #fff
            height 51px
    .form-subscribe
        position relative
    .message-icon
        position absolute
        bottom 13px
        right 23px
        color white